*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}
/* Common Style  */
.container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.btn{
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 12px 16px;
  background: #469165;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.top-btn img{
  width: 16px;
  position: relative;
  top: 2px;
}
.btn:hover{
  background: #2b4335be;
  color: #FFFFFF;
}
/* Main Style  */
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px 0;
}
nav .logo img{
  width: 140px;
}
nav .menu{
  display: flex;
  gap: 32px;
  list-style: none;

}
nav .menu a{
  font-size: 16px ;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}
.banner{
  margin: 0 auto;
  max-width: 1600px;
  height: 674px;
  background:linear-gradient(#00193122) ,url(assets/hero-bg.png);
  background-repeat: no-repeat;
  padding: 115px 0;
  margin-bottom: 30px;
}
.banner-container{
  text-align: center;
}

.banner-btn{
  margin-bottom: 16px;
}
.banner-btn .top-btn{
  background: #FFFFFF;
  color: #469165;
  border-radius: 1000px;
}
.banner-btn .top-btn:hover{
   background: #2b4335be;
  color: #FFFFFF;
}

.banner-container h1{
  font-size: 72px;
  margin-bottom: 16px;
  color: #FFFFFF;
}
.banner-container .break-head{
  display: block;
  color: #30B868;
}
.banner-container p{
  color: #FFFFFF;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 32px;
}
.banner-span{
  display: block;
}

.banner-button .btn{
  margin-right: 16px;
}
.banner-button .btn:hover{
   background: #2b4335be;
  color: #FFFFFF;
}
.top-btn:last-child{
  background: none;
  border: 2px solid #FFFFFF;
}
.top-btn:last-child img{
  margin-right: 6px;
}

.notes{
  margin-bottom: 120px;
}
.notes .notes-section{
  text-align: center;
}
.notes-section h1{
  color: #001931;
font-size: 50px;
margin-bottom: 16px;
}
.notes-section p{
  color: #627382;
  margin-bottom: 44px;
}
.card-section{
  display: flex;
  gap: 24px;
  text-align: center;
}
.card-section .card{
 width: 322px;
 padding:24px 10px;
 border-radius: 8px;
 box-shadow: 0 0 8px 0 #0000003a;
}
.card img{
  background:#F95555;
  padding: 10px;
  border-radius: 100%;
  margin-bottom: 16px;

}
.card h4{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.card p{
  font-size: 16px;
  color: #627382;
}
.brains{
margin-bottom: 120px;
display: flex;
gap: 60px;
align-items: center;

}
.brains img{
  width: 600px;
  vertical-align: middle;
}
.brains-content h5{
  color: #469165;
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.brains-content h3{
  font-size: 40px;
  color: #001931;
  margin-bottom: 16px;
}
.brains-content .sub-title{
  font-size: 16px;
  color: #627382;
 line-height: 20px;
 margin-bottom: 40px;
}
.brain-icon{
  display: flex;
  flex-direction: column;
  gap: 16px;
  color:#001931;
}
.brain-icon img{
  width: 20px;
}
.early-access{
  margin-bottom: 120px;
  text-align: center;
  padding: 80px 0;
  background: #F7F6F2;
}
.early-content h2{
  font-size: 40px;
  color: #001931;
  margin-bottom: 16px;
}
.early-access p{
  color: #627382;
  line-height: 24px;
  margin-bottom: 24px;
}
.early-access p:last-child{
  margin-top: 16px;
}
footer{
  padding: 120px 0 60px ;
  background-color: #001931;
}
.footer-section{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid  #e5e7eb62;
  padding-bottom: 40px;
}
.social P{
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.social i{
  background-color: #FFFFFF;
  padding: 3px;
  padding-right: 5px;
  margin-right: 10px;
  border-radius: 100%;
}
.last-footer{
  color: #FAFAFA;
  text-align: center;
  margin-top: 30px;
}